<mat-toolbar>
  <img src="/assets/home/Type=Full Logo, Background=Light@2x.png" alt="Logo" class="logo"/>

    
  <div class="extra"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon> <a [routerLink]="['/landing/about']" class="primary"> font_download </a></mat-icon>
        <span>About</span>
      </button>
      <button mat-menu-item>
        <mat-icon> <a [routerLink]="['/landing/team']" class="primary">person_add</a></mat-icon>
        <span>Team</span>
      </button>
      <button mat-menu-item>
        <mat-icon> <a [routerLink]="['/landing/solution']" class="primary"> group_work </a></mat-icon>
        <span>Soulations</span>
      </button>
      <button mat-menu-item>
        <mat-icon><a [routerLink]="['/landing/blog']" class="primary">chat_bubble </a></mat-icon>
        <span>Blog</span>
      </button>
      <button mat-menu-item>
          <mat-icon><a [routerLink]="['/landing/faq']" class="primary">leak_add</a></mat-icon>
          <span>FAQ</span>
        </button>
        <button mat-menu-item>
          <mat-icon><a [routerLink]="['/landing/customer']" class="primary">find_in_page</a></mat-icon>
          <span>Customer</span>
        </button>
        <button mat-menu-item>
          <mat-icon><a [routerLink]="['/landing/green']" class="primary">tab</a></mat-icon>
          <span>Green</span>
        </button>
    </mat-menu>
</mat-toolbar>


<div class="powering">
  <img src="/assets/home/Icon.png" alt="Logo" width="30" height="20" /><h1>Powering Tomorrow</h1>

<div class="power">
  <div class="input-power">
    
  </div>
  
  <h1>The Future of <br> <br> Green Energy</h1>
  <p>Our commitment to green enegry is paving the way for a cleaner, <br>
      healthier planet.Join us on a journey towards a future where clean, <br>
      renewable enegry sources transform the way we power our lives.
  </p>
  <button>See our soulations</button>
  <button>Get in touch</button>
</div>

<div class="radius-img">
  <img src="/assets/home/Image (7).png" alt="">
</div>

</div>

<mat-toolbar class="footer">
<h5>Gobal patners that trusted us</h5>
<div class="extra"></div>
 
<div class="merge">
  <mat-icon> ring_volume</mat-icon>
  <span>logoipusm</span>
</div>

<div class="multiline">
  <mat-icon>video_library</mat-icon>
  <span >Logoipusm</span>
</div>


<div class="monetization">
<mat-icon>brightness_high</mat-icon>
<span >Logoipusm</span>
</div>

<div class="game">
<mat-icon>control_camera</mat-icon>
<span >Logoipusm</span>
</div>



</mat-toolbar>

<div class="space">

</div>
