footer{
    text-align: center;
    text-decoration: none;
    background-color: rgb(235, 235, 18);
    width: 100%;
    margin-top: 450px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}