<mat-toolbar style="background-color: rgb(231, 20, 239);">
    
    <a [routerLink]="['/login']" class="primary"> 
      <img src="https://logowik.com/content/uploads/images/179_angular.jpg" alt="Logo" class="logo"/></a>
  
    <div class="logo">Logo</div>
    <div class="extra"></div>
    <mat-icon> <a [routerLink]="['/login']" class="primary">login</a></mat-icon>
    <div class="login">Login</div>

    <mat-icon> <a [routerLink]="['/dashboard/home']" class="danger">home</a></mat-icon>
    <div class="home">Home</div>

    <mat-icon> <a [routerLink]="['/dashboard/about']" class="primary">announcement</a></mat-icon>
    <div class="about">About</div>

    <mat-icon> <a [routerLink]="['/dashboard/contacts']" class="primary">perm_contact_calendar</a></mat-icon>
    <div class="contacts">Contact Us</div>

    <mat-icon> <a [routerLink]="['/dashboard/faq']" class="primary">assignment_turned_in</a></mat-icon>
    <div class="faq">FAQ</div>
    
    <mat-icon> <a [routerLink]="['/dashboard/country']" class="primary">class</a></mat-icon>
    <div class="country">Country</div>

    <mat-icon> <a [routerLink]="['/dashboard/emplyee']" class="primary">tag_faces</a></mat-icon>
    <div class="emplyee">Emplyee</div>

    <mat-icon> <a [routerLink]="['/landing']" class="primary">assignment</a></mat-icon>
    <div class="landing">landing</div>
 <button class="btn" mat-button (click)="openChangePassword()">ChangePassword</button>
   
  </mat-toolbar>
  