<div class="green" >
    
    <h1>Your Source for Green <br> <br>Energy Updates</h1>

    <div class="group-btn"> 
    <input type="email" placeholder="Your-email..">

    <button>Get in touch</button>
    </div>

</div>

<div class="footer-page">
    <div class="box1">
        <img src="/assets/home/Type=Full Logo, Background=Light@2x.png" alt="Logo" class="logo" width="120px" height="40px"/>
        <div class="line"><img src="/assets/images/Lines.png" alt=""></div>
    </div>
    <div class="box2">
        <h3>Platform</h3>
       <p> <a href="#">Soulations</a></p>
        <p><a href="#">How it works</a></p>
        <p><a href="#">Pricing</a></p>
        
    </div>
    <div class="box3">
        <h3>Company</h3>
        <p><a href="#">About</a></p>
       <p> <a href="#">Our Mission</a></p>
       <p><a href="#">Careers <strong style="background-color: rgb(8, 8, 8); color: aliceblue;">hiring</strong></a></p>
       <p><a href="#">Contact</a></p>
    </div> 
    <div class="box4">
        <h3>Resources</h3>
       <p><a href="#">Blog</a></p> 
       <p><a href="#">Help Center</a></p>
       <p><a href="#">Support</a></p>
    </div>
   
    <div class="box5">
       <p><a href="https://www.facebook.com/"> <img src="https://cdn-icons-png.flaticon.com/512/59/59439.png" alt="" width="20px" height="20px" style="background-color:greenyellow; padding: 10px; border-radius: 20px;"> Follws us on Facebook</a></p>
       <p><a href="https://www.instagram.com/"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL-0qRnpGvETxT-3TJzjlbtXxwOEmVN0Ziww&s" alt="" width="20px" height="20px" style="background-color:greenyellow; padding: 10px; border-radius: 20px;"> Follws us on Instagram</a></p>
       <p><a href="https://www.linkedin.com/"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZ2ETMRSrNeQM4zG9f6U3MwlXYAEdnQt_pg&s" alt="" width="20px" height="20px" style="background-color:greenyellow; padding: 10px; border-radius: 20px;"> Follws us on LinkedIn</a></p>
    </div>

    </div>
    <footer>
       
        <div class="sai"><h1>Developer:VETTI SAIKUMAR</h1></div>
    
      </footer>

